*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  --mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;

  --old-style: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052,
    serif;

  --humanista: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
    source-sans-pro, sans-serif;

  --geometric-humanist: Avenir, Montserrat, Corbel, 'URW Gothic',
    source-sans-pro, sans-serif;
}

html {
  text-rendering: optimizeLegibility;
  font-size: 16px;
}
