*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  --mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;

  --old-style: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052,
    serif;
}

html {
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  font-size: 16px;
}
