---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>@yassernasc</title>
  </head>
  <body>
    <h1>Yasser's webpage</h1>
    <h2>Programmer based in Brazil</h2>
    <h3>
      Open to contribute.. <i>long-term and full-time opportunities included!</i
      >
    </h3>

    <p>
      I have profissional experience with <i
        >TypeScript Full-Stack development</i
      >, mostly working with Angular, React and Node.js. More details can be
      found on <a href="https://read.cv/yassernasc">my CV</a>.
    </p>

    <p>
      I've quit my job and now I'm taking a sabbatical, on that period I took
      some weeks to rest my tired mind and then started to refresh my skills, I
      learned a new programming language: <b>Golang</b>; Dived into <b
        >Flutter</b
      > for mobile development; now I use Emacs for writing and as a bonus I maintain
      a home server running Arch Linux (yes, I know).
    </p>

    <p>
      Right now I am still working on some personal projects and experiments but
      I'm totally open for a chat, <a href="https://cal.com/yassernasc/chat"
        >schedule a meeting</a
      >; Or simply <a href="maito:dev@yasser.email">email me</a>, I truly enjoy
      both approaches.
    </p>

    <p>
      Current English level: I know how to write Environment, Thought and Length
      without googling any, that's dope, right?
    </p>

    <p>Find me also on:</p>
    <ul>
      <li><a href="https://github.com/yassernasc">Github</a></li>
      <li><a href="https://linkedin.com/in/yassernasc">Linkedin</a></li>
      <li><a href="https://letterboxd.com/yassern">Letterboxd</a></li>
      <li><a href="https://last.fm/user/yassernasc">Last.fm</a></li>
      <li><a href="https://pinterest.com/yassernasc">Pinterest</a></li>
    </ul>
  </body>
</html>
