---
import Layout from '@layouts/base.astro'

const { photos, frontmatter } = Astro.props
const images = photos.map(r => r.default)
---

<Layout frontmatter={frontmatter}>
  <h1>{frontmatter.page_title}</h1>
  <div>
    {
      images.map((image, index) => (
        <img src={image} alt={`photo number #${index + 1}`} loading="lazy" />
      ))
    }
  </div>
</Layout>
