---
import Layout from '@layouts/base.astro'

const { photos, frontmatter } = Astro.props
const images = photos.map(r => r.default)
---

<Layout frontmatter={frontmatter}>
  <div class="container">
    <h1>{frontmatter.page_title}</h1>
    <div class="images-container">
      {
        images.map((image, index) => (
          <img src={image} alt={`photo number #${index + 1}`} loading="lazy" />
        ))
      }
    </div>
  </div>
</Layout>

<style is:inline>
  .container {
    --image-gap: 2.5px;
    font-family: var(--geometric-humanist);
    margin: 20px;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .images-container {
    columns: 3;
    gap: var(--image-gap);
    margin: 25px 200px;
  }

  @media (max-width: 800px) {
    .images-container {
      columns: 2;
      margin: 25px 40px;
    }
  }

  @media (max-width: 450px) {
    .images-container {
      columns: 1;
      margin: 20px 0;
    }
  }

  img {
    height: auto;
    margin-bottom: var(--image-gap);
  }

  @media (hover: hover) {
    img {
      filter: sepia(45%) brightness(68%);
      transition: filter 0.15s ease;
    }

    img:hover {
      filter: sepia(0%) brightness(100%);
    }
  }
</style>
