---
import { SEO } from 'astro-seo'
import Beam from '@components/beam.astro'
import Menu from '@components/menu.astro'

const { frontmatter } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO description={frontmatter.description} />
    <title>{frontmatter.page_title}</title>
  </head>
  <body>
    <Beam />
    <slot />
    <Menu />
    <script is:inline>
      const isProd = window.location.host.endsWith('yasser.page')
      if (!isProd) {
        window.goatcounter = { no_onload: true } // skip counter
      }
    </script>

    <script
      is:inline
      data-goatcounter="https://yasser-page.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </body>
</html>
