---
import { SEO } from 'astro-seo'
import Analytics from '@components/analytics.astro'
import GlobalStyles from '@components/global-styles.astro'

const { frontmatter } = Astro.props
const title = frontmatter.page_title
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO description={frontmatter.description} />
    <title>{title}</title>
  </head>
  <body>
    <GlobalStyles />
    <slot />
    <Analytics />
  </body>
</html>
