---
import { SEO } from 'astro-seo'
import '@styles/global.css'

const { frontmatter } = Astro.props

const title =
  frontmatter.page_title === 'pages' ? 'yasser.page' : frontmatter.page_title
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO description={frontmatter.description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script is:inline>
      const isProd = window.location.host.endsWith('yasser.page')
      if (!isProd) {
        window.goatcounter = { no_onload: true } // skip counter
      }
    </script>

    <script
      is:inline
      data-goatcounter="https://yasser-page.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </body>
</html>
